.price {
    padding-top: 66px;
    .devider {
        margin: 0 auto;
        margin-top: 25px;
    }
    &__wrapper {
        padding: 60px 50px 0 50px;
        display: grid;
        grid-template: repeat(3, 44px) / repeat(2, 366px);
        justify-content: space-between;
        row-gap: 15px;
    }
    &__item {
        padding-left: 25px;
        display: grid;
        grid-template-columns: 190px 122px;
        grid-template-rows: repeat(2, 1fr);
        row-gap: 5px;
        justify-content: space-between;
        &-title {
            position: relative;
            &:before {
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                background-color: $main-color;
                border-radius: 100%;
                left: -25px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        &-cost {
            justify-self: end;
            font-weight: bold;
            font-size: 14px;
            line-height: 21px;
        }
        &-name {
            grid-column: 1 / 3;
            font-size: 12px;
            line-height: 18px;
        }
    }
}