.resume {
    padding: 120px;
    &__title {
        position: relative;
        text-align: center;
        @include before_circle;
        &:before {
            top: -5px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__subtitle {
        text-align: center;
    }
    .devider {
        margin: 0 auto;
        margin-top: 25px;
    }
    &__wrapper {
        padding: 60px 65px 0 65px;
        display: grid;
        grid-template-columns: 425px 425px;
        column-gap: 136px;
    }
    &__column {
        &-title {
            position: relative;
            padding-left: 35px;
            &:before { /* это малнький кружок  */
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                background-color: $main-color;
                border-radius: 100%;
                left: -7px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        ul {
            list-style-type: none;
            li {
                position: relative;
                &:after { /* здесь реализована вертикальная палочка */
                    content: '';
                    width: 1px;
                    height: calc(100% + 14px);
                    position: absolute;
                    top: -16px;
                    left: 0;
                    background-color: #000;
                }
            }
        }
    }
    &__item {
        position: relative;
        &::before { /* это горизонтальная палочка */
            content: '';
            height: 1px;
            width: 43px;
            top: 63px;
            position: absolute;
            background-color: #000;

        }
        &-head {
            position: relative;
            padding: 45px 0 0 100px;
            h4 {
                margin-bottom: 0;
            }
        }
        &-text {
            padding-left: 43px;
            margin-top: 12px;
        }
        &-icon {
            position: absolute;
            top: 52px;
            left: 43px;
            @include before_circle;
            img {
                position: absolute;
                left: 15px;
                top: 9px;
            }
        }
        &-location {
            font-size: 12px;
            line-height: 18px;
        }
        &-text {
            width: 405px; /* так делать не стоит, потому что текста может быть больше, но это исключание */
            font-size: 12px;
            line-height: 18px;
        }
    }
}